In [84]:
# !pip install requests
# !pip install html5lib
# !pip install bs4

In [85]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import html5lib

In [86]:
# Make a request to the website
url = 'https://www.imdb.com/chart/top'
response = requests.get(url)

# Parse HTML and extract movie information
soup = BeautifulSoup(response.text, 'html.parser')

In [87]:
#print(soup)

In [88]:
#print(soup.prettify())

# Rank

In [89]:
soup.find('td',class_='titleColumn').text.strip()[0]

'1'

In [90]:
movie = soup.find_all('td', class_='titleColumn')
for td in movie:
    rank = td.text.strip().split('.')[0]
   # print(rank)

# Finding 1st name of the movie

In [91]:
soup.find('td',class_='titleColumn').a.text

'The Shawshank Redemption'

# All movies name

In [92]:
movie_name = soup.find_all('td', class_='titleColumn')
for td in movie_name:
    title = td.a.text.strip()
   # print(title)

# Finding year

In [93]:
soup.find('td',class_='titleColumn').span.text

'(1994)'

In [94]:
soup.find('td',class_='titleColumn').span.text.strip('()')

'1994'

In [95]:
movie = soup.find_all('td', class_='titleColumn')
for td in movie:
    year = td.span.text.strip('()')
   # print(year)

# combine Movie name & Year

In [96]:
top_movie= soup.find_all('td', class_='titleColumn')
movies = []

for td in top_movie:
    title = td.a.text.strip()
    year = td.span.text.strip('()')
    movies.append((title, year))

print(movies)

[('The Shawshank Redemption', '1994'), ('The Godfather', '1972'), ('The Dark Knight', '2008'), ('The Godfather Part II', '1974'), ('12 Angry Men', '1957'), ("Schindler's List", '1993'), ('The Lord of the Rings: The Return of the King', '2003'), ('Pulp Fiction', '1994'), ('The Lord of the Rings: The Fellowship of the Ring', '2001'), ('Il buono, il brutto, il cattivo', '1966'), ('Forrest Gump', '1994'), ('Fight Club', '1999'), ('The Lord of the Rings: The Two Towers', '2002'), ('Inception', '2010'), ('The Empire Strikes Back', '1980'), ('The Matrix', '1999'), ('GoodFellas', '1990'), ("One Flew Over the Cuckoo's Nest", '1975'), ('Se7en', '1995'), ('Shichinin no samurai', '1954'), ("It's a Wonderful Life", '1946'), ('The Silence of the Lambs', '1991'), ('Saving Private Ryan', '1998'), ('Cidade de Deus', '2002'), ('Interstellar', '2014'), ('La vita è bella', '1997'), ('The Green Mile', '1999'), ('Star Wars', '1977'), ('Terminator 2: Judgment Day', '1991'), ('Back to the Future', '1985'), ('Sen to Chihiro no kamikakushi', '2001'), ('The Pianist', '2002'), ('Psycho', '1960'), ('Gisaengchung', '2019'), ('Léon', '1994'), ('The Lion King', '1994'), ('Gladiator', '2000'), ('American History X', '1998'), ('The Departed', '2006'), ('Whiplash', '2014'), ('The Prestige', '2006'), ('The Usual Suspects', '1995'), ('Casablanca', '1942'), ('Hotaru no haka', '1988'), ('Seppuku', '1962'), ('The Intouchables', '2011'), ('Modern Times', '1936'), ('Once Upon a Time in the West', '1968'), ('Nuovo Cinema Paradiso', '1988'), ('Rear Window', '1954'), ('Alien', '1979'), ('City Lights', '1931'), ('Apocalypse Now', '1979'), ('Memento', '2000'), ('Django Unchained', '2012'), ('Raiders of the Lost Ark', '1981'), ('WALL·E', '2008'), ('The Lives of Others', '2006'), ('Sunset Blvd.', '1950'), ('Paths of Glory', '1957'), ('The Shining', '1980'), ('The Great Dictator', '1940'), ('Avengers: Infinity War', '2018'), ('Witness for the Prosecution', '1957'), ('Aliens', '1986'), ('Spider-Man: Into the Spider-Verse', '2018'), ('American Beauty', '1999'), ('Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', '1964'), ('The Dark Knight Rises', '2012'), ('Oldeuboi', '2003'), ('Inglourious Basterds', '2009'), ('Amadeus', '1984'), ('Coco', '2017'), ('Toy Story', '1995'), ('Braveheart', '1995'), ('Joker', '2019'), ('Das Boot', '1981'), ('Avengers: Endgame', '2019'), ('Mononoke-hime', '1997'), ('Once Upon a Time in America', '1984'), ('Good Will Hunting', '1997'), ('Kimi no na wa.', '2016'), ("Singin' in the Rain", '1952'), ('3 Idiots', '2009'), ('Requiem for a Dream', '2000'), ('Tengoku to jigoku', '1963'), ('Toy Story 3', '2010'), ('Capharnaüm', '2018'), ('Star Wars: Episode VI - Return of the Jedi', '1983'), ('2001: A Space Odyssey', '1968'), ('Eternal Sunshine of the Spotless Mind', '2004'), ('Idi i smotri', '1985'), ('Reservoir Dogs', '1992'), ('Jagten', '2012'), ('Citizen Kane', '1941'), ('Lawrence of Arabia', '1962'), ('M - Eine Stadt sucht einen Mörder', '1931'), ('North by Northwest', '1959'), ('Ikiru', '1952'), ('Vertigo', '1958'), ('The Apartment', '1960'), ("Le fabuleux destin d'Amélie Poulain", '2001'), ('Double Indemnity', '1944'), ('A Clockwork Orange', '1971'), ('Full Metal Jacket', '1987'), ('Scarface', '1983'), ('Hamilton', '2020'), ('Incendies', '2010'), ('Heat', '1995'), ('To Kill a Mockingbird', '1962'), ('Up', '2009'), ('The Sting', '1973'), ('Jodaeiye Nader az Simin', '2011'), ('Metropolis', '1927'), ('Taxi Driver', '1976'), ('L.A. Confidential', '1997'), ('Die Hard', '1988'), ('Snatch', '2000'), ('Indiana Jones and the Last Crusade', '1989'), ('Ladri di biciclette', '1948'), ('Taare Zameen Par', '2007'), ('Top Gun: Maverick', '2022'), ('1917', '2019'), ('Der Untergang', '2004'), ('Dangal', '2016'), ('Per qualche dollaro in più', '1965'), ('Batman Begins', '2005'), ('The Kid', '1921'), ('Some Like It Hot', '1959'), ('The Father', '2020'), ('All About Eve', '1950'), ('The Wolf of Wall Street', '2013'), ('Green Book', '2018'), ('Judgment at Nuremberg', '1961'), ('Ran', '1985'), ('Casino', '1995'), ('The Truman Show', '1998'), ('There Will Be Blood', '2007'), ("Pan's Labyrinth", '2006'), ('Unforgiven', '1992'), ('The Sixth Sense', '1999'), ('Shutter Island', '2010'), ('A Beautiful Mind', '2001'), ('Jurassic Park', '1993'), ('Yôjinbô', '1961'), ('The Treasure of the Sierra Madre', '1948'), ('Monty Python and the Holy Grail', '1975'), ('No Country for Old Men', '2007'), ('The Great Escape', '1963'), ('Kill Bill: Vol. 1', '2003'), ('Rashômon', '1950'), ('The Thing', '1982'), ('Spider-Man: No Way Home', '2021'), ('Finding Nemo', '2003'), ('The Elephant Man', '1980'), ('Chinatown', '1974'), ('John Wick: Chapter 4', '2023'), ('Raging Bull', '1980'), ('V for Vendetta', '2005'), ('Gone with the Wind', '1939'), ('Lock, Stock and Two Smoking Barrels', '1998'), ('Dial M for Murder', '1954'), ('Inside Out', '2015'), ('El secreto de sus ojos', '2009'), ('Hauru no ugoku shiro', '2004'), ('Three Billboards Outside Ebbing, Missouri', '2017'), ('Trainspotting', '1996'), ('The Bridge on the River Kwai', '1957'), ('Prisoners', '2013'), ('Warrior', '2011'), ('Fargo', '1996'), ('Gran Torino', '2008'), ('Catch Me If You Can', '2002'), ('Tonari no Totoro', '1988'), ('Million Dollar Baby', '2004'), ('Bacheha-Ye aseman', '1997'), ('Blade Runner', '1982'), ('The Gold Rush', '1925'), ('Klaus', '2019'), ('Harry Potter and the Deathly Hallows: Part 2', '2011'), ('Before Sunrise', '1995'), ('12 Years a Slave', '2013'), ('Ben-Hur', '1959'), ('On the Waterfront', '1954'), ('The Grand Budapest Hotel', '2014'), ('Gone Girl', '2014'), ('Smultronstället', '1957'), ('The General', '1926'), ('Barry Lyndon', '1975'), ('In the Name of the Father', '1993'), ('The Deer Hunter', '1978'), ('The Third Man', '1949'), ('Hacksaw Ridge', '2016'), ('Le salaire de la peur', '1953'), ('Salinui chueok', '2003'), ('Sherlock Jr.', '1924'), ('Relatos salvajes', '2014'), ('Mr. Smith Goes to Washington', '1939'), ('Mad Max: Fury Road', '2015'), ('Mary and Max.', '2009'), ('Det sjunde inseglet', '1957'), ('How to Train Your Dragon', '2010'), ('Monsters, Inc.', '2001'), ('Dead Poets Society', '1989'), ('Jaws', '1975'), ('Room', '2015'), ('The Big Lebowski', '1998'), ('Tôkyô monogatari', '1953'), ("La passion de Jeanne d'Arc", '1928'), ('Ford v Ferrari', '2019'), ('Hotel Rwanda', '2004'), ('Rocky', '1976'), ('Platoon', '1986'), ('Ratatouille', '2007'), ('Spotlight', '2015'), ('Logan', '2017'), ('The Terminator', '1984'), ('Stand by Me', '1986'), ('Rush', '2013'), ('Network', '1976'), ('Before Sunset', '2004'), ('Into the Wild', '2007'), ('The Wizard of Oz', '1939'), ('The Best Years of Our Lives', '1946'), ('Groundhog Day', '1993'), ('The Exorcist', '1973'), ('The Incredibles', '2004'), ('La haine', '1995'), ('To Be or Not to Be', '1942'), ('Pirates of the Caribbean: The Curse of the Black Pearl', '2003'), ('Pather Panchali', '1955'), ("Hachi: A Dog's Tale", '2009'), ('The Grapes of Wrath', '1940'), ('La battaglia di Algeri', '1966'), ('Jai Bhim', '2021'), ('Babam ve Oglum', '2005'), ('Amores perros', '2000'), ('Rebecca', '1940'), ('Cool Hand Luke', '1967'), ('Ah-ga-ssi', '2016'), ('The Sound of Music', '1965'), ('Les quatre cents coups', '1959'), ('It Happened One Night', '1934'), ('Persona', '1966'), ('Life of Brian', '1979'), ('The Iron Giant', '1999'), ('The Help', '2011'), ('Aladdin', '1992'), ('Dersu Uzala', '1975'), ('Dances with Wolves', '1990')]

# Ratings

In [97]:
soup.find('td',class_='ratingColumn imdbRating').strong.text

'9.2'

In [98]:
movie= soup.find_all('td', class_='ratingColumn imdbRating')
for td in movie:
    rating = td.strong.text.strip()
   # print(rating)

# All are combined

In [99]:
movie_list = soup.find('tbody', class_='lister-list').find_all('tr')
ranks = []
titles = []
years = []
ratings = []

for movie in movie_list:
    rank = movie.find('td', class_='titleColumn').get_text(strip=True).split('.')[0]
    ranks.append(rank)
    title = movie.find('td', class_='titleColumn').a.text
    titles.append(title)
    year = movie.find('td', class_='titleColumn').span.text.strip('()')
    years.append(year)
    rating = movie.find('td', class_='ratingColumn imdbRating').strong.text
    ratings.append(rating)

# Combine data into a pandas DataFrame
data = {'Rank': ranks, 'Title': titles, 'Year': years, 'Rating': ratings}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Rank                     Title  Year Rating
0      1  The Shawshank Redemption  1994    9.2
1      2             The Godfather  1972    9.2
2      3           The Dark Knight  2008    9.0
3      4     The Godfather Part II  1974    9.0
4      5              12 Angry Men  1957    9.0
..   ...                       ...   ...    ...
245  246            The Iron Giant  1999    8.0
246  247                  The Help  2011    8.0
247  248                   Aladdin  1992    8.0
248  249               Dersu Uzala  1975    8.0
249  250        Dances with Wolves  1990    8.0

[250 rows x 4 columns]

In [100]:
df.head()

  Rank                     Title  Year Rating
0    1  The Shawshank Redemption  1994    9.2
1    2             The Godfather  1972    9.2
2    3           The Dark Knight  2008    9.0
3    4     The Godfather Part II  1974    9.0
4    5              12 Angry Men  1957    9.0

In [101]:
df.tail()

    Rank               Title  Year Rating
245  246      The Iron Giant  1999    8.0
246  247            The Help  2011    8.0
247  248             Aladdin  1992    8.0
248  249         Dersu Uzala  1975    8.0
249  250  Dances with Wolves  1990    8.0

In [102]:
df.shape

(250, 4)

In [103]:
df[df.duplicated()]

Empty DataFrame
Columns: [Rank, Title, Year, Rating]
Index: []

In [104]:
df['Year'].unique()

array(['1994', '1972', '2008', '1974', '1957', '1993', '2003', '2001',
       '1966', '1999', '2002', '2010', '1980', '1990', '1975', '1995',
       '1954', '1946', '1991', '1998', '2014', '1997', '1977', '1985',
       '1960', '2019', '2000', '2006', '1942', '1988', '1962', '2011',
       '1936', '1968', '1979', '1931', '2012', '1981', '1950', '1940',
       '2018', '1986', '1964', '2009', '1984', '2017', '2016', '1952',
       '1963', '1983', '2004', '1992', '1941', '1959', '1958', '1944',
       '1971', '1987', '2020', '1973', '1927', '1976', '1989', '1948',
       '2007', '2022', '1965', '2005', '1921', '2013', '1961', '1982',
       '2021', '2023', '1939', '2015', '1996', '1925', '1926', '1978',
       '1949', '1953', '1924', '1928', '1955', '1967', '1934'],
      dtype=object)

In [105]:
df['Year'].unique().size

87

In [83]:
# save the DataFrame as a CSV file
df.to_csv('my_data.csv', index=False)

# index=False means we don't want to include the index column in the CSV file